fastapi==0.116.1
uvicorn[standard]==0.35.0
langchain-core==0.3.72
langchain-mistralai==0.2.11
langchain-community==0.3.27
langchain-text-splitters==0.3.9
pydantic==2.11.7
faiss-cpu==1.11.0.post1
pypdf==5.9.0
langgraph==0.6.3
langgraph-checkpoint-sqlite==2.0.11